.not-allowed {cursor: not-allowed;}
h1 {
  font-family: 'Times New Roman', serif;
  background-colour: red;
}
#yo {
  font-family: 'Brush Script MT', cursive;
  background-image: url(https://github.com/Dave-Fish/Professional-Unprofessionalism/blob/main/USER_SCOPED_TEMP_DATA_orca-image-1740051671.jpeg);
}


